@font-face {
	font-family: JetBrains;
 	src: url(webfonts/JetBrainsMono-Regular.woff2);
}

@font-face {
	font-family: JetBrains
	src: url(webfonts/JetBrainsMono-Bold.woff2)
	font-weight: bold;
}

.* {
	margin: 0px 0px 0px 0px
	padding: 0px 0px 0px 0px
}
a {
  color: inherit;
  text-decoration: inherit;
}

.body{
	padding: 3px 3px 3px 3px
	background-color: #FFFFFF;

	font-family: JetBrains, sans-serif;
	font-size: 12pt;
	text-align: left;
}

.main_page {
	position: relative;
	display: table;
	width: 1000px;
	margin-bottom: 3px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 0px 0px 0px;
	text-align: left;
}

.float {
	position: relative;
	float: left;
}

.page_header {
	width: 100%;
	font-size: 250%;
	font-weight: bold;

        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        padding: 12px 12px 12px 12px;
}

div.content_section {
	margin: 3px 3px 3px 3px
	text-alighn: left;
}

div.content_header{
	padding: 3px 6px 3px 6px
	font-weight: bold;
	font-size: 112%;
	text-align: center;
}

div.content_text {
	margin: 3px 3px 3px 3px;
	font_size: 100%;
}
